$Rosewater: #f5e0dc;
$Flamingo: #f2cdcd;
$Pink: #f5c2e7;
$Mauve: #cba6f7;
$Red: #f38ba8;
$Maroon: #eba0ac;
$Peach: #fab387;
$Yellow: #f9e2af;
$Green: #a6e3a1;
$Teal: #94e2d5;
$Sky: #89dceb;
$Saphire: #74c7ec;
$Blue: #89b4fa;
$Lavender: #b4befe;
$Text: #cdd6f4;
$Subtext0: #bac2de;
$Subtext1: #a6adc8;
$Overlay0: #9399b2;
$Overlay1: #7f849c;
$Overlay2: #6c7086;
$Surface0: #585b70;
$Surface1: #45475a;
$Surface2: #313244;
$Base: #1e1e2e;
$Mantle: #181825;
$Crust: #11111b;

$inactive: $Surface1;
$highlight: $Red;

/* General */
* {
  all: unset;
  font-family: "MonaspiceNe NF", monospace;
}
/* Inline markup is tacky and I hate it. So class overload */
.blue {
  color: $Blue;
}

.lavender {
  color: $Lavender;
}
.purple {
  color: $Mauve;
}

.green {
  color: $Green;
}

.yellow {
  color: $Yellow;
}

.orange {
  color: $Peach;
}

.red {
  color: $Red;
}

.redBox {
  background-color: $Red;
}

.subtext {
  color: $Subtext1;
}

.text {
  color: $Text;
}

.inactive {
  color: $inactive;
}

.small {
  font-size: 12px;
}

.smallish {
  font-size: 16px;
}

.medium {
  font-size: 18px;
}

.large {
  font-size: 24px;
}

.xlarge {
  font-size: 32px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.colorMe {
  color: $Mauve;
}

tooltip {
  background: $Mauve;
  color: $Base;
  border-radius: 5px;
}

.spacerbar {
  margin: 5px 30px 20px;
  min-height: 1px;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 0 1px 2px 1px $Mauve;
}

/* Box container of bar */
.bar-box {
  background-color: $Crust;
  border-radius: 10px;
  margin: 0 10px;
  padding: 0 5px;
}

/* Base of panels */
.window {
  margin: 5px 0 32px;
  padding: 15px;
  background-color: $Crust;
  transition: all 10s;

  &.right {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  &.left {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}

/* Boxes inside of panel */
.panel {
  background-color: $Base;
  border-radius: 10px;
  padding: 15px;
  margin: 5px;
}

/* Divider used in Panels */
.barspacer {
  margin: 5px;
}

/* Wide button */
.btns-bar {
  background-color: $Surface2;
  text-shadow: 1px 1px $Crust;
  border-radius: 2px;
  transition: all 0.5s;

  &.disabled {
    background-color: $Base;
  }

  &.enabled {
    &:hover {
      background-image: linear-gradient(135deg, $Mauve 2.5%, transparent 7.5%);
    }

    &.active {
      background-image: linear-gradient(0deg, $Mauve 5%, transparent 15%);

      &:hover {
        background-image: linear-gradient(135deg, $Red 2.5%, transparent 7.5%);
      }
    }
  }

  .newdevice {
    background-color: $Base;

    &:hover {
      background-image: linear-gradient(135deg, $Green 2.5%, transparent 7.5%);
    }
  }
}

/* Standard button */
button {
  background-color: $Surface2;
  font-size: 32px;
  text-shadow: 1px 1px $Crust;
  padding: 7px;
  margin: 5px;
  border-radius: 2px;
  transition: all 0.5s;

  &.active {
    color: rgba($Red, 1);
    background-image: linear-gradient(0deg, $Mauve 5%, transparent 15%);

    &:hover {
      color: $Text;
      background-image: linear-gradient(135deg, $Red 10%, transparent 30%);
    }
  }

  &.inactive {
    color: $Text;

    &:hover {
      color: $Red;
      background-image: linear-gradient(135deg, $Mauve 10%, transparent 30%);
    }
    &.power {
      color: $Red;
    }
  }
}

/* Standard scale/slider */
trough highlight {
  background-image: linear-gradient(to right, $Mauve 30%, $Red 100% * 50);
  border-radius: 4px;
}

scale trough {
  background-color: rgba($Surface2, 1);
  box-shadow: 0 1px 2px 1px #06060b;
  border-radius: 9px;
  min-height: 8px;
  min-width: 8px;
  margin: 0 0 7px;
}

slider {
  border-radius: 10px;
  background-color: #d8dee9;
  margin: -7px;
}

/* Hide unwanted sliders */
.inactive {
  slider,
  trough highlight,
  scale trough {
    all: unset;
  }
}

/* Keep them in the shadows */
.low-vis {
  color: $inactive;

  slider {
    background-color: $inactive;
  }

  trough highlight {
    background-image: linear-gradient(
      to right,
      rgba($Mauve, 0.5) 30%,
      rgba($Red, 0.5) 100% * 50
    );
  }
}

/* Systray dropdown menus */
menu {
  padding: 5px;
  background-color: $Crust;
  color: $Text;

  menuitem {
    font-size: unset;
    border-radius: 5px;
    background-color: $Base;
    padding: 8px 12px;
  }

  menuitem:hover {
    color: $Crust;
    background-color: $Green;
    transition: 0.5s;
  }
}

.marginleft {
  margin-left: 7px;
}

.marginright {
  margin-right: 7px;
}

.margintop {
  margin-top: 7px;
}

.marginbottom {
  margin-bottom: 7px;
}

.paddingright {
  padding-right: 7px;
}

.paddingleft {
  padding-left: 7px;
}

.paddingtop {
  padding-top: 3px;
}

.padingbottom {
  padding-bottom: 3px;
}
