/*  _               _        _              _ _          _ _
 * | |   _   _ _ __| | __   / \   _ __   __| | |    ___ (_) |_ ___ _ __
 * | |  | | | | '__| |/ /  / _ \ | '_ \ / _` | |   / _ \| | __/ _ \ '__|
 * | |__| |_| | |  |   <  / ___ \| | | | (_| | |__| (_) | | ||  __/ |
 * |_____\__,_|_|  |_|\_\/_/   \_\_| |_|\__,_|_____\___/|_|\__\___|_|
 * ____________________________________________________________________________
 * ----------------------------------------------------------------------------
 * Copyright 2025 LurkAndLoiter.
 * ____________________________________________________________________________
 *  __  __ ___ _____   _     _
 * |  \/  |_ _|_   _| | |   (_) ___ ___ _ __  ___  ___
 * | |\/| || |  | |   | |   | |/ __/ _ \ '_ \/ __|/ _ \
 * | |  | || |  | |   | |___| | (_|  __/ | | \__ \  __/
 * |_|  |_|___| |_|   |_____|_|\___\___|_| |_|___/\___|
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to
 * deal in the Software without restriction, including without limitation the
 * rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
 * sell copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 * FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
 * IN THE SOFTWARE.
 * ____________________________________________________________________________
 * ----------------------------------------------------------------------------
 * "Zetus Lupetus" "Omelette du fromage" "You're killing me smalls" "Ugh As If"
 * "Hey. Listen!" "Do a barrel roll!" "Dear Darla, I hate your stinking guts."
 * "If we listen to each other's hearts. We'll find we're never too far apart."
 * ____________________________________________________________________________
*/

$Rosewater: #f5e0dc;
$Flamingo: #f2cdcd;
$Pink: #f5c2e7;
$Mauve: #cba6f7;
$Red: #f38ba8;
$Maroon: #eba0ac;
$Peach: #fab387;
$Yellow: #f9e2af;
$Green: #a6e3a1;
$Teal: #94e2d5;
$Sky: #89dceb;
$Saphire: #74c7ec;
$Blue: #89b4fa;
$Lavender: #b4befe;
$Text: #cdd6f4;
$Subtext0: #bac2de;
$Subtext1: #a6adc8;
$Overlay0: #9399b2;
$Overlay1: #7f849c;
$Overlay2: #6c7086;
$Surface0: #585b70;
$Surface1: #45475a;
$Surface2: #313244;
$Base: #1e1e2e;
$Mantle: #181825;
$Crust: #11111b;

$inactive: $Surface1;
$highlight: $Red;

@keyframes flashColors {
  0% {
    color: $Text;
    background-image: linear-gradient(0deg, $Text 5%, transparent 15%);
  }

  100% {
    color: $Green;
    background-image: linear-gradient(0deg, $Green 5%, transparent 15%);
  }
}

/* General */
* {
  all: unset;
  font-family: "MonaspiceNe NF", monospace;
}
/* Inline markup is tacky and I hate it. So class overload */
.blue {
  color: $Blue;
}

.lavender {
  color: $Lavender;
}
.purple {
  color: $Mauve;
}

.green {
  color: $Green;
}

.yellow {
  color: $Yellow;
}

.orange {
  color: $Peach;
}

.red {
  color: $Red;
}

.redBox {
  background-color: $Red;
}

.subtext {
  color: $Subtext1;
}

.text {
  color: $Text;
}

.inactive {
  color: $inactive;
}

.small {
  font-size: 12px;
}

.smallish {
  font-size: 16px;
}

.medium {
  font-size: 18px;
}

.large {
  font-size: 24px;
}

.xlarge {
  font-size: 32px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.colorMe {
  color: $Mauve;
}

.strikeRed {
  text-decoration: line-through wavy $Red;
}

tooltip {
  background: $Mauve;
  color: $Base;
  border-radius: 5px;
}

.spacerbar {
  margin: 5px 30px 20px;
  min-height: 1px;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 0 1px 2px 1px $Mauve;
}

/* Box container of bar */
.bar-box {
  background-color: $Crust;
  // background-color: transparent;
  border-radius: 10px;
  margin: 0 10px;
  padding: 0 5px;
}

/* Box container of bar */
.base-box {
  background-color: $Crust;
  // background-color: transparent;
  border-radius: 10px;
  margin: 0 10px;
  padding: 30px 5px 15px;
}

/* Base of panels */
.window {
  margin: 5px 0 32px;
  padding: 15px;
  background-color: $Crust;
  transition: all 10s;

  &.right {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  &.left {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}

/* Boxes inside of panel */
.panel {
  background-color: $Base;
  border-radius: 10px;
  padding: 10px 15px 5px;
  margin: 10px 0 0;
}

/* Divider used in Panels */
.barspacer {
  margin: 5px;
}

/* Wide button */
.btns-bar {
  background-color: $Surface2;
  text-shadow: 1px 1px $Crust;
  border-radius: 2px;
  transition: all 0.5s;

  &.disabled {
    background-color: $Base;
  }

  &.enabled {
    &:hover {
      background-image: linear-gradient(0deg, $Green 5%, transparent 15%);
    }

    &.active {
      background-image: linear-gradient(0deg, $Mauve 5%, transparent 15%);

      &:hover {
        background-image: linear-gradient(0deg, $Red 5%, transparent 15%);
      }
    }
  }

  &.newdevice {
    background-color: $Base;

    &:hover {
      background-image: linear-gradient(0deg, $Green 5%, transparent 15%);
    }
  }

  &.connecting {
    animation: flashColors 1s infinite alternate;
  }
}

/* Standard button */
button {
  background-color: $Surface2;
  font-size: 32px;
  text-shadow: 1px 1px $Crust;
  padding: 7px;
  margin: 5px;
  border-radius: 2px;
  transition: all 0.5s;

  &.active {
    color: rgba($Red, 1);
    background-image: linear-gradient(0deg, $Mauve 3%, transparent 15%);

    &:hover {
      color: $Text;
      background-image: linear-gradient(0deg, $Red 3%, transparent 15%);
    }
  }

  &.inactive {
    color: $Text;

    &:hover {
      color: $Red;
      background-image: linear-gradient(0deg, $Green 3%, transparent 15%);
    }
    &.power {
      color: $Red;
    }
  }
}

/* Standard scale/slider */
scale {
  padding: 7px 0 7px 7px;
  trough {
    background-color: rgba($Surface2, 1);
    box-shadow: 0 1px 2px 1px #06060b;
    border-radius: 9px;
    min-height: 8px;
    min-width: 8px;

    highlight {
      background-image: linear-gradient(to right, $Mauve 30%, $Red 100% * 50);
      border-radius: 4px;
    }
  }
  slider {
    border-radius: 10px;
    background-color: $Text;
    margin: -7px;
  }
}

/* Hide unwanted sliders */
.inactive {
  slider,
  trough highlight,
  scale trough {
    all: unset;
  }
}

/* Keep them in the shadows */
.low-vis {
  color: $inactive;

  slider {
    background-color: $inactive;
  }

  trough highlight {
    background-image: linear-gradient(
      to right,
      rgba($Mauve, 0.5) 30%,
      rgba($Red, 0.5) 100% * 50
    );
  }
}

/* Systray dropdown menus */
menu {
  padding: 10px 15px;
  background-color: $Crust;
  color: $Text;

  menuitem {
    font-size: unset;
    // border-radius: 5px;
    padding: 8px 12px;
    margin: 2px 0;
    &:nth-child(odd){
      background-color: $Surface2;
    }
    &:nth-child(even){
      background-color: $Base;
    }
    &:hover {
      color: $Crust;
      background-color: $Green;
      transition: 0.5s;
    }
    &:disabled {
      color: $inactive;
      background-color: $Mantle;
    }
    &:active {
      color: $Crust;
      background-color: $Mauve;
    }
  }

  separator {
    min-height: 2px;
    background-color: $Mauve;
    margin: 10px 0;
  }
}

.marginleft {
  margin-left: 7px;
}

.marginright {
  margin-right: 7px;
}

.margintop {
  margin-top: 7px;
}

.marginbottom {
  margin-bottom: 7px;
}

.paddingright {
  padding-right: 3px;
}

.paddingleft {
  padding-left: 3px;
}

.paddingtop {
  padding-top: 3px;
}

.paddingbottom {
  padding-bottom: 3px;
}
